/* VARS ********************************************/
$headerMinColor: lighten(adjust-hue(desaturate($baseColor, 6%), 1deg), 6%);
$headerMaxColor: darken(adjust-hue(saturate($baseColor, 8%), -1deg), 7%);
$toolbarLinkColor: darken(adjust-hue(saturate($baseColor, 11%), -2deg), 4%);
$spriteIconsPath: '../img/interface/sprite-icons.png';
$navsWrapperHeight: 59px;
$neutralLinkColor: #386c85;
$topNavEnd: #f8f8f8 !default;
$topNavBorder: #EDEEF0 !default;

$beforeSelector: "&:before, .before";
$afterSelector: "&:after, .after";

/* MIXINS ******************************************/
@mixin before-content($value){
	before: $value;

	&:before {
		content: $value;
	}
}

@mixin after-content($value){
	after: $value;

	&:after {
		content: $value;
	}
}

@mixin border-radius($radius){
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	-khtml-border-radius: $radius;
	border-radius: $radius;
}

/* FONTS *******************************************/
@include font-face('Icons', '../fonts/kronos-icons-regular-webfont');

/* BASE ********************************************/
header {
	background: $headerMinColor;
	background-clip: padding-box;
	border-bottom: 2px solid #d2d2d2;
	border-bottom: 2px solid rgba(#000, 0.15);
	position: relative;
	z-index: 10;
}

#logo {
	display: block;
	float: left;
	line-height: $navsWrapperHeight;
	padding-right: 33px;
	position: relative;
	text-decoration: none;

	img {
		vertical-align: middle;
	}

	@include after-content("|");

	#{$afterSelector} {
		background: url(../img/sprite_x.png) 0 -22px;
		text-indent: -9999em;
		width: 1px;

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
	}
}

#wrapper {
	background: #fff;
	border-radius: 3px;
	margin-bottom: 54px;
	position: relative;
	z-index: 1;
}

#main {
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.10);
	border: 1px solid #d7d7d7;
	border-radius: 4px;
}

.pre-content {
	@include clearfix;
	position: relative;
	z-index: 10;
}

#content {
	z-index: 1;
}


/* Unified top nav */
#nav-kronos {
	font-family: $textFont;
	font-size: 10px;
	font-weight: bold;
	height: 26px;
	line-height: 26px;
	margin-bottom: 0;
	text-align: right;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	vertical-align: middle;

	li {
		margin-left: 18px;

		&:first-child {
			margin-left: 0;
		}
	}

	a {
		color: #ffffff;
		opacity: 0.66;

		&:hover {
			opacity: 1;
		}
	}
}

/* navs-wrapper for the nav after the unified nav */
.navs-wrapper {
	@include linear-gradient($headerMinColor, $headerMaxColor);

	border-top: 1px solid rgba($headerMinColor, 0.33);
	height: $navsWrapperHeight;
}

/* meta nav */
#nav-meta {
	color: #fff;
	display: inline-block;
	float: right;
	font-family: $textFont;
	line-height: $navsWrapperHeight;
	margin-bottom: 0;
	vertical-align: middle;

	li {
		border-color: #fff;
		border-color: rgba(255, 255, 255, 0.66);
		display: inline;
		font-size: 11px;
	}

	a {
		color: #fff;
	}

	#menu_user,
	.special {
		font-weight: bold;
	}

	#menu_logout a {
		color: rgba(255, 255, 255, 0.66);
	}
}

/* main nav (next to main logo) */
#nav-main {
	float: left;
	font-size: 15px;
	font-weight: bold;
	vertical-align: middle;

	li {
		float: left;
		margin-right: 8px;
		line-height: $navsWrapperHeight;

		&:first-child {
			margin-left: 0px;
		}

		li {
			line-height: 1;
			padding-left: 0;
		}
	}

	a,
	.link {
		color: #fff;
		font-family: $textFont;
	}

	.nav-toggler,
	.nav-direct-link {
		border-radius: 3px 3px 0 0;
		color: #fff;
		display: block;
		height: 38px;
		line-height: 43px;
		margin-top: 8px;
		padding: 0 18px 0 8px;
		text-shadow: 0 1px 1px #000;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	}

	.sub-nav {
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
		background: #fafafa;
		border-radius: 0 4px 4px 4px;
		margin-left: -9px;
		top: 45px;
		width: 200px;
	}

	.sub-nav-content {
		border-radius: 0 3px 3px 3px;
		border-top: 1px solid #fff;
		margin-top: -1px;
		margin-bottom: 0;
		padding-bottom: 0;
		padding-top: 3px;

		li {
			border-width: 0;
			display: block;
			float: none;
			margin-right: 0;

			&.section-title {
				color: #878787;
				font-family: $titleFont;
				font-size: 13px;
				font-weight: bold;
				margin: 18px 16px 6px;
				padding-bottom: 2px;
				padding-top: 0;
				text-transform: uppercase;
			}
		}

		a,
		.link {
			background: transparent;
			color: #3C78B5;
			display: block;
			font-size: 11px;
			font-weight: normal;
			padding: 9px 5px 11px 16px;

			&:hover {
				background: #eff2f6;
			}
		}
	}

	.active {
		.nav-toggler {
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
			background: #fff;
			color: $neutralLinkColor;
			margin: 8px 0 0 -9px;
			padding-left: 17px;
			text-shadow: 0 0 0 transparent;
			height: 37px;
		}
	}
}

/* actions nav */
.top-content-nav {
	@include linear-gradient(#fff, $topNavEnd);
	border-bottom: 1px solid $topNavBorder;
	border-radius: 4px 0 0 0;
}

.nav-content-actions {
	@extend .hor;

	display: inline-block;
	height: 40px;
	line-height: 40px;
	margin-bottom: 0;
	padding-left: 6px;
}

/*********************************************/
/* Modules ***********************************/
/*********************************************/

.with-sub-nav {
	display: inline-block;
	position: relative;

	.sub-nav {
		display: none;
		position: absolute;
		left: 0;
	}

	.sub-nav-content {
		background: #fff;
		cursor: auto;
		padding: 0 0 5px 0;
	}

	&.active > .sub-nav,
	&.active > .sub-nav ul {
		display: block;
	}
}

.ico,
.has-ico:before,
.has-ico .before {
	color: $toolbarLinkColor;
	display: inline-block;
	font-family: 'Icons';
	font-size: 36px;
	font-weight: normal;
	height: 26px;
	line-height: 25px;
	padding-right: 0px;
	text-align: center;
	text-indent: -0.15em;
	width: 26px;

	&.vmid { vertical-align: middle; }
}

.has-ico {
	color: $neutralLinkColor;

	#{$beforeSelector} {
		vertical-align: middle;
	}
}

.ico {
	color: transparent;
	overflow: hidden;

	#{$beforeSelector} {
		color: $neutralLinkColor;
	}
}

.has-ico,
.ico {
	&.mag-glass { @include before-content("🔍"); } // \1f50d
	&.eye { @include before-content("👓"); } // \1F453
	&.report { @include before-content("\2338"); }
	&.new { @include before-content("\2295"); }
}


/*********************************************/
/* States ************************************/
/*********************************************/
/* lists */
.piped {
	li {
		border-left: 1px solid black;
		margin-left: 8px;
		padding-left: 10px;

		&:first-child,
		&.no-pipe {
			border-left: 0px solid transparent;
			margin-left: 0;
			padding-left: 0;
		}
	}
}

.hor { /* horizontal lists */
	li {
		display: inline;
	}
}
